/* My Doodler app css stylesheet */

/*TABLE OF CONTENTS
1. Colour reference
2. Grid
3. Vertical rhythm
4. Components
  4.1 Images
  4.2 Buttons
5. Utilities
  5.1 Screen-reader only
6. Modules
  6.1 Canvas
  6.2 Collection
==========================================================================================*/
/* 1. Colour reference
------------------------*/
/*
$dark-orange: #B84530;
$orange: #CF6F3A;
$black: #272123;
$cream: #E5E5E5;
$yellow: #DB8F30;
$blue: #007499;
$purple: #4C1E3D;
*/

/* 2. Grid
------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 1em;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 25em) {
  .container {
    max-width: 34.375em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 40.063em) {
  .container {
    max-width: 46.875em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 64.063em) {
  .container {
    max-width: 62.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 90.063em) {
  .container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.row {
  display: block;
}
@media screen and (min-width: 64.063em) {
  .row {
    margin: 0 -0.6em;
  }
}
row:before,
.row:after {
  display: table;
  content: "";
  box-sizing: border-box;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  min-height: 1px;
  margin-bottom: 1.75em;
}
@media screen and (min-width: 64.063em) {
  .col-1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-3 {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-5 {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-7 {
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-8 {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-9 {
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-10 {
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-11 {
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .col-12 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/* 3. Vertical rhythm
------------------------*/
html,
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  line-height: 1.5;
}
p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea,
caption {
    font-size: 1em; /* equiv 16px */
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
h1, 
.h1-like {
    font-size:  1.75em; /* equiv 28px */
    line-height: 1.7142;
    margin: 0 0 .8571em 0;
}
h2, 
.h2-like {
    font-size:  1.625em; /* equiv 26px */
    line-height: 1.8462;
    margin: 0 0 .9231em 0;
}
h3, 
.h3-like {
    font-size:  1.5em; /* equiv 24px */
    line-height:  1;
    margin: 0 0  1em 0;
}
h4, 
.h4-like {
    font-size:  1.375em; /* equiv 22px */
    line-height:  1.0909;
    margin: 0 0  1.0909em 0;
}
h5, 
.h5-like {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin: 0 0  1.2em 0;
}
h6, 
.h6-like {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    margin: 0 0  1.3333em 0;
}
.smaller {
    font-size: .75em; /* equiv 12px */
    line-height:  2;
    margin:  2em 0  2em 0;
}
.small {
    font-size: .875em; /* equiv 14px */
    line-height:  1.7143;
    margin:  1.7143em 0  1.7143em 0;
}
.big {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    margin:  1.3333em 0  1.3333em 0;
}
.bigger {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin:  1.2em 0  1.2em 0;
}
.biggest {
    font-size:  1.375em; /* equiv 22px */
    line-height:  1.0909;
    margin:  1.0909em 0  1.0909em 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.5em;
}

/* 4. Components
------------------------*/
/* 4.1 Images */
img {
  margin: 1em 0;
}

/* 4.2 Buttons */
button,
.btn {
  padding: 0.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25em;
  margin: 1em 0;
}
.btn-block {
  display: block;
  width: 100%;
}
/* 5. Utilities
------------------------*/
/* 5.1 Screen-reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 6. Modules
------------------------*/
/* 6.1 Canvas */

/* 6.2 Collection */

/* 7. Layout
------------------------*/
/* 7.1 Header */
header {
  background-color: #4C1E3D;
}