/*
FOOTER
========================================================================
*/
footer {
	background-color: $purple;
	color: white;
	text-align: center;
	a {
		color: $purple-tint-75;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}